<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div >
    <label for="name">Task</label>
    <div class="form-group">
      <input class="form-control" type="text" id="name" formControlName="name" placeholder="Task name"> 
      <div *ngIf="addForm.get('name').hasError('required')"
             class="alert alert-danger">
          Task Name is required
        </div>
    </div>
  </div>
  <div>
    <label for="priority">Priority</label>
    <div  class="form-group">
      <input type="range" formControlName="priority" min="0" max="30" step="1" id="priority">
      <div *ngIf="addForm.get('priority').hasError('required')"
             class="alert alert-danger">
          Priority is required
        </div>
    </div>
    <h2>
        {{addForm.get('priority').value}}
    <h2>
  </div>
  <div>
    <label for="parent">Parent task</label>
    <div>
      <select formControlName="parentTaskId" id="parentTaskId">
        <option [value]="task.id" *ngFor="let task of parentTasks$ | async">
          {{task.name}}
        </option>
      </select>
    </div>
  </div>
  <div>
    <label for="startDate">Start date</label>
    <div>
      <input type="date" formControlName="startDate" id="startDate" placeholder="Start date">
      <span *ngIf="addForm.get('startDate').hasError('required')">Required Field</span>
    </div>
  </div>
  <div>
    <label for="endDate">End date</label>
    <div>
      <input type="date" formControlName="endDate" id="endDate" placeholder="End date">
      <span *ngIf="addForm.get('endDate').hasError('required')">Required Field</span>
    </div>
  </div>
  <button type="submit">Add task</button>
  <button type="button" (click)="onReset()">Reset</button>
</form>
