<div class="container"> 
<div class="row">
  <div class="col-sm-3">
    <label class="row">Task</label>
    <div class="row alert-info">
        {{taskDetail?.name}}
    </div>
  </div>
  <div class="col-sm-3">
    <label class="row">Parent</label>
    <div class="row alert-info">
        {{taskDetail?.parentTask?.name}}
    </div>
  </div>
  <div class="col-sm-1">
    <label class="row">Priority</label>
    <div class="row">
        {{taskDetail?.priority}}
    </div>
  </div>
  <div class="col-sm-1">
    <label class="row">Start</label>
    <div class="row">
        {{taskDetail?.startDate | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  <div class="col-sm-1">
    <label class="row">End</label>
    <div class="row">
        {{taskDetail?.endDate | date: 'dd/MM/yyyy'}}
    </div>
  </div>
  <div class="col-sm-1" *ngIf="!taskDetail?.taskEnded">
    <a class="mt-4 btn btn-success" [routerLink]="['/update-task', taskDetail?.id]">
        Edit
    </a>
  </div>
  <div class="col-sm-1" *ngIf="!taskDetail?.taskEnded">
    <input class="mt-4 btn btn-success" type="button" (click)="endTask(taskDetail)" value="End Task">
  </div>
</div>
</div>
