<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="task" updateForm>Task</label>
      <div>
        <input type="text" class="form-control" id="task" formControlName="name" placeholder="Task name"> 
        <div *ngIf="updateForm.get('name').hasError('required')"
             class="alert alert-danger">
          Task Name is required
        </div>
      </div>
    </div>
    <div>
      <label for="priority" updateForm>Priority</label>
      <h2>
        {{updateForm.get('priority').value}}
    </h2>
      <div>
        <input type="range" class="form-control" formControlName="priority" min="0" max="30" step="1" id="priority">
         <div *ngIf="updateForm.get('priority').hasError('required')"
             class="alert alert-danger">
          Priority is required
        </div>
      </div>
    </div>
    <div>
      <label for="parentTask" updateForm>Parent task</label>
      <div>
        <select class="form-control" formControlName="parentTaskId" id="parentTaskId">
          <option [value]="task.id" *ngFor="let task of parentTasks$ | async">
            {{task.name}}
          </option>
        </select>
      </div>
    </div>
    <div>
      <label for="startDate" updateForm>Start date</label>
      <div>
        <input type="date" class="form-control" formControlName="startDate" id="startDate" placeholder="Start date">
        <div *ngIf="updateForm.get('startDate').hasError('required')"
             class="alert alert-danger">
          Start Date is required
        </div>
      </div>
    </div>
    <div>
      <label for="endDate" updateForm>End date</label>
      <div>
        <input type="date" class="form-control" formControlName="endDate" id="endDate" placeholder="End date">
        <div *ngIf="updateForm.get('endDate').hasError('required')"
             class="alert alert-danger">
          End Date is required
        </div>
      </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" (click)="onReset()" class="btn btn-default mx-2">Reset</button>
  </form>
